.grid-wrapper {
    
    overflow: auto;
    height: 620px;
    
    table {
        thead {
            #gradient .vertical(#60abf8, #4096ee);
            
            th {
                color: #fff;
                select {
                    width: 150px;
                    margin-top: 5px;
                }
                
                position: relative;
                
                .hide-column {
                    position: absolute;
                    right: 5px;
                    top: 0;
                    color: #000;
                }
            }
        }
    }
}