{% extends 'BraincraftedBootstrapBundle:Form:bootstrap.html.twig' %}

{% block file_widget %}
{% spaceless %}
    {% set type = type|default('url') %}

    <div class="input-group">
        <span class="input-group-btn">
            <span class="btn btn-primary btn-file">
                Przeglądaj {{ block('form_widget_simple') }}
            </span>
        </span>
        <input type="text" class="form-control" readonly="">
    </div>

{% endspaceless %}
{% endblock file_widget %}